<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="form-new-ticket">
      <h2 class="form-new-ticket-heading">Create a New Ticket</h2>

      <%= form_for [@board, Ticket.new], url: board_tickets_path(@board), method: :post do |f| %>
        <%#= f.label :name %>
        <%= f.text_field :name, placeholder: "Ticket Name", class: "form-control" %><br>

        <%#= f.label :description %>
        <%= f.text_area :description, placeholder: "Ticket Description", class: "form-control"  %><br>

        <div id="ticket-status-dropdown" >
          <%= f.label :status, "Status" %>
          <%= f.select :status, [['Backlog', :backlog],
              ['Current Sprint', :current_sprint],
              ['In Progress', :in_progress],
              ['Done', :done]] %>
        </div>
        <br>
        <br>

        <%= f.submit "Create Ticket", class: "btn btn-md btn-primary btn-block" %>
      <% end %>

    </div>
  </div>

  <div class="col-md-3"></div>
</div>


