<h1><%= @board.title %></h1>

<%#= link_to "Make new Ticket", new_board_ticket_path(@board) %>

<%= render partial: 'ticket_form' %>

<% @board.tickets.each do |ticket| %>

  <li>
    <%= ticket.name %>:
    <%= ticket.description %>
    <%= link_to "Delete", board_ticket_path(@board, ticket), method: :delete %>
  </li>



<% end %>
