<div class="container">
  <div class="header">
          <h1 class="text-muted"><%= @board.title %></h1>
          <hr>

    <div class="row">
      <div class="jumbotron" id="new-ticket-form">
            <%= render partial: 'ticket_form' %>
      </div>
    </div>
  </div>
</div>

    <div class="row waffle-board">
      <div class="col-md-3" id="backlog">
        <h3>Backlog</h3>
        <hr>
        <div class="row">
          <% @board.tickets.backlog.each do |ticket| %>
            <div class="tickets">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="ticket-name"><%= ticket.name %>: </h4>
                </div>
                <div class="col-md-8 ticket-ed-links">
                  <h4>
                    <%= link_to "Edit", edit_board_ticket_path(@board, ticket) %>
                    <%= link_to "Delete", board_ticket_path(@board, ticket), method: :delete %>
                  </h4>
                </div>
              </div>

                <p>Description: <%= ticket.description %></p>

              <%= render partial: 'status_check', locals: { board: @board, ticket: ticket } %>
            </div>
            <br>
          <% end %>
        </div>
      </div>

      <div class="col-md-3" id="current_sprint">
        <h3>Current Sprint</h3>
        <hr>
        <div class="row">
          <% @board.tickets.current_sprint.each do |ticket| %>
            <div class="tickets">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="ticket-name"><%= ticket.name %>: </h4>
                </div>
                <div class="col-md-8 ticket-ed-links">
                  <h4>
                    <%= link_to "Edit", edit_board_ticket_path(@board, ticket) %>
                    <%= link_to "Delete", board_ticket_path(@board, ticket), method: :delete %>
                  </h4>
                </div>
              </div>


              <p>Description: <%= ticket.description %></p>

              <%= render partial: 'status_check', locals: { board: @board, ticket: ticket } %>
            </div>
            <br>
          <% end %>
        </div>
      </div>


      <div class="col-md-3" id="in_progress">
        <h3>In Progress</h3>
        <hr>
        <div class="row">
          <% @board.tickets.in_progress.each do |ticket| %>
            <div class="tickets">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="ticket-name"><%= ticket.name %>: </h4>
                </div>
                <div class="col-md-8 ticket-ed-links">
                  <h4>
                    <%= link_to "Edit", edit_board_ticket_path(@board, ticket) %>
                    <%= link_to "Delete", board_ticket_path(@board, ticket), method: :delete %>
                  </h4>
                </div>
              </div>


              <p>Description: <%= ticket.description %></p>

              <%= render partial: 'status_check', locals: { board: @board, ticket: ticket } %>
            </div>
            <br>
          <% end %>
        </div>
      </div>

      <div class="col-md-3" id="done">
        <h3>Done</h3>
        <hr>
        <div class="row">
          <% @board.tickets.done.each do |ticket| %>
            <div class="tickets">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="ticket-name"><%= ticket.name %>: </h4>
                </div>
                <div class="col-md-8 ticket-ed-links">
                  <h4>
                    <%= link_to "Edit", edit_board_ticket_path(@board, ticket) %>
                    <%= link_to "Delete", board_ticket_path(@board, ticket), method: :delete %>
                  </h4>
                </div>
              </div>

              <p>Description: <%= ticket.description %></p>

              <%= render partial: 'status_check', locals: { board: @board, ticket: ticket } %>
            </div>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  <!--</div>-->
<!--</div>-->
<hr>

<footer class="footer">
  <p>© whithub 2015</p>
</footer>
